.idea/
*.iml
spider/index.html

.ipynb_checkpoints/
.pynb_checkpoints
node_modules/
pnpm-lock.json
pnpm-lock.yaml
.pytest_cache
.DS_Store
yarn-error.log
cmake-build-debug
target/
*.lock
__pycache__/
.vscode/
web-ext-artifacts
package-lock.json
yarn.lock